body {
    background-color: #16162A;
    overflow-y: hidden;
}

#dots_top {
    margin-right: -2vw;
    overflow: hidden;
    margin-top: -30vw;
    z-index: 2;
}

#dots_top img {
    overflow: hidden;
    position: relative;
    width: 100vw;
    margin-left: 10vw;
}

#dots_bottom {
    padding-bottom: 20vw;
    overflow: hidden;
    margin: 0vw -2.5vw 0vw -2.5vw;
}

#dots_bottom img {
    position: relative;
    top: 20vw;
    width: 100vw;
}

@media only screen and (min-width: 600px) {
    #dots_top {
        margin-top: -30vw;
    }
    #dots_top img {
        position: relative;
        padding-bottom: 20vw;
        top: 12vw;
        width: 60vw;
        height: 50vw;
        left: 40vw;
    }
    #web_dots_bottom {
        overflow: hidden;
        position: relative;
        margin-top: -180vw;
        padding-top: 70vw;
        padding-bottom: 20vw;
        left: -5vw;
    }
    #web_dots_bottom img {
        position: relative;
        height: 80vw;
        width: 30vw;
        margin-top: -40vw;
        top: -20vw;
    }
    #dots_bottom img {
        visibility: hidden;
    }
}