
body {
    background-color: #16162A;
    
}

#dots_top { 
    margin-right: -2vw;
    overflow: hidden;
    margin-top: -15vw;
    z-index: 2;
}

#dots_top img {
    position: relative;
    width: 100vw;
    margin-left: 10vw;
    
}

#dots_bottom {
    padding-bottom: 20vw;
    overflow: hidden;
    margin: 0vw -2.5vw 0vw -2.5vw;

}

#dots_bottom img {
    position: relative;
    top: 20vw;
    width: 100vw;
}


