body {
    background-color: #16162A;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media only screen and (min-width: 600px) {
#dots_top {
    margin-top: -30vw;
    
}

#dots_top img {
    position: relative;
    padding-bottom: 20vw;
    top: 12vw;
    width: 60vw;
    height: 50vw;
    left: 50vw;
}

#web_dots_bottom {
    overflow: hidden;
    position: relative;
    margin-top: -220vw;
    padding-top: 90vw; 
    padding-bottom: 20vw;
    left: -5vw;
    pointer-events: none;
    
}

#web_dots_bottom img {
    pointer-events: none;
    position: fixed;
    height: 80vw;
    width: 30vw;
    margin-top: -100vw;


}
}



