   @font-face {
       font-family: Sharpiro;
       src: url(/fonts/sharpiro-regular.woff2);
   }

   @font-face {
       font-family: Uniform Pro Con;
       src: url(/fonts/uniform-pro-con-medium.woff2);
   }

   label {
       font-family: Uniform Pro Con;
        color: white;
        margin-left: 5vw;
   }

   #who_are_you input {
       float: right;
       border-radius: 25px;
       border: 1px solid #6259FA;
       background-color: #16162A;
       margin-right: 5vw;
   }

   span {
       position: relative; 
       top: -5vw;
       display: block; 
       overflow: hidden; 
   }

   form {
       position: relative;
        margin-top: 5vw;
        margin-left: 5vw; 
        margin-right: 5vw;
   }

   h1 {
       position: relative; 
        top: -10.5vw;
       font-size: 6vw;
       font-family: Sharpiro;
       text-transform: uppercase;
       color: transparent; 
        -webkit-text-stroke: 0.01px;
        -webkit-text-stroke-color: #B9F8B9;
        text-align: center;

   }

   h2 {
        position: relative; 
        top: -5vw;
        font-family: Uniform Pro Con;
        font-weight: normal;
        color: #B9F8B9;
        text-align: center;

   }



